section {
  width: 100vw;
  height: 100vh;
  background-color: brown;
}
main h1 {
  display: flex;
  justify-content: end;
}
.Cards {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(20, 180, 220);
}
.Card {
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  gap: 20px;
  padding: 40px;
  margin: 47px;
  width: 388px;
  height: 518px;
  box-shadow: black 2.5px 2.5px 2.5px;
}
.Card h2 {
  font-size: 24px;
}
.Card p {
  font-size: 18px;
}
.Card .img {
  width: 160px;
  height: 160px;
}

nav {
  background-color: cornflowerblue;
}
