section {
  width: 100vw;
  height: 100vh;
  background-color: brown;
}
main h1 {
  display: flex;
  justify-content: right;
}
main .Cards {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(20, 180, 220);
}

nav {
  background-color: cornflowerblue;
}
